@import url('@fontsource-variable/lora');
@import url('@fontsource-variable/montserrat');
@import url('@egjs/vue3-flicking/dist/flicking.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.is-required {
    @apply after:content-['*'] after:text-red-500 after:ml-1;
}

@layer components {
    .cool-underline {
        @apply relative after:absolute after:-bottom-0 after:h-0.5 after:bg-black after:right-0 after:w-0 after:transition-all after:duration-300 hover:after:left-0 hover:after:w-full hover:after:right-auto
    }
}

.eased-gradient {
    background: linear-gradient(
        to right,
        hsla(0, 0%, 98%, 0) 0%,
        hsla(0, 0%, 98%, 0.013) 8.1%,
        hsla(0, 0%, 98%, 0.049) 15.5%,
        hsla(0, 0%, 98%, 0.104) 22.5%,
        hsla(0, 0%, 98%, 0.175) 29%,
        hsla(0, 0%, 98%, 0.259) 35.3%,
        hsla(0, 0%, 98%, 0.352) 41.2%,
        hsla(0, 0%, 98%, 0.45) 47.1%,
        hsla(0, 0%, 98%, 0.55) 52.9%,
        hsla(0, 0%, 98%, 0.648) 58.8%,
        hsla(0, 0%, 98%, 0.741) 64.7%,
        hsla(0, 0%, 98%, 0.825) 71%,
        hsla(0, 0%, 98%, 0.896) 77.5%,
        hsla(0, 0%, 98%, 0.951) 84.5%,
        hsla(0, 0%, 98%, 0.987) 91.9%,
        hsl(0, 0%, 98%) 100%
    );
}

.flicking-arrow-prev::after, .flicking-arrow-prev::before, .flicking-arrow-next::after, .flicking-arrow-next::before {
    background-color: white !important;
    box-shadow: 0 0 6px 3px #00000033 !important;

}

/*.flicking-arrow-prev::after, .flicking-arrow-prev::before,*/

